/* frontend/styles/reset.css
 * Modern CSS reset. Inspired by Andy Bell + Josh Comeau. */

*, *::before, *::after { box-sizing: border-box; }

* { margin: 0; }

html, body {
  height: 100%;
}

body {
  line-height: var(--op-lh-base);
  -webkit-font-smoothing: antialiased;
  font-family: var(--op-font-sans);
  font-size: var(--op-fs-sm);
  color: var(--op-text);
  background: var(--op-bg);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  color: var(--op-link);
  text-decoration: none;
}
a:hover { color: var(--op-link-hover); text-decoration: underline; }

ul, ol { padding-left: var(--op-sp-6); }

#__app, #app {
  isolation: isolate;
  min-height: 100vh;
}
